<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo Application</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/argon.css">
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
    <div class="tab-content bg-secondary rounded my-5 p-5">
        <div id="inputs-alternative-component" class="tab-pane tab-example-result fade show active" role="tabpanel"
             aria-labelledby="inputs-alternative-component-tab">
            <h5>This site is currently under maintenance... click <a href="/course">here</a> to see course list</h5>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-3.4.1.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/argon.js"></script>
<script src="/assets/js/todo-list.js"></script>
</body>
</html>